{% extends 'core/base.html' %}
{% block content %}
<div class=" container-fluid mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fas fa-robot fa-5x mb-5 i-color"></i>
                <h3>Machine Learning</h3>
                <p class="ss-color">In Learning phase,Worked on Scikit-learn package</p>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-python fa-5x mb-5 i-color"></i>
                <h3>Python</h3>
                <p class="ss-color">Intermidiate python developer.</p>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-code fa-5x mb-5 i-color"></i>
                <h3>Django</h3>
                <p class="ss-color">Completed an online course from udemy,
                as project this webiste is made using Django</p>
            </div>
    </div>
</div>
{% endblock content %}